.title {
  font-family: verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
}
a {
  text-align: center;
  color: aquamarine;
  font-size: 16px;
}
body {
  background-color: black;
  text-align: center;
}
p {
  font-family: verdana;
  font-size: 21px;
  color: gray;
}
img {
  padding-top: 1em;
  padding-bottom: 1em;
}
